<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.guru99.newcustomer.NewCustomer_01_ValidateAllFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_17_PIN_must_have_6_digits</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_19_PIN_cannot_have_first_blank_space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_09_City_cannot_have_sqecial</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_08_City_cannot_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_10_City_cannot_have_first_blank_space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_26_Email_must_be_incorrect_format</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_13_State_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_02_Name_cannot_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_01_NameCannotEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_05_Address_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_15_PIN_must_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_06_Address_cannot_have_first_blank_space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_07_City_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_11_State_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_03_Name_cannot_have_special_characters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_12_State_cannot_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_16_PIN_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_27_Email_cannot_have_space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_25_Email_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_14_State_cannot_have_first_blank_space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_04_Name_cannot_have_first_character_as_blank_space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_24_Telephone_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_21_Telephone_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_22_Telephone_cannot_have_first_character_as_blank_space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_18_PIN_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
