<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3bd8b">  <td>17/05/18 20:45:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewCustomer_01_ValidateAllFields.beforeClass(java.lang.String, java.lang.String)[pri:0, instance:com.guru99.newcustomer.NewCustomer_01_ValidateAllFields@178f375]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12489389</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/18 20:45:30</td>   <td>24461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewCustomer_01_ValidateAllFields.TC_01_NameCannotEmpty()[pri:0, instance:com.guru99.newcustomer.NewCustomer_01_ValidateAllFields@178f375]">TC_01_NameCannotEmpty</td> 
  <td>main@12489389</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/18 20:45:45</td>   <td>38904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewCustomer_01_ValidateAllFields.TC_02_Name_cannot_be_numeric()[pri:0, instance:com.guru99.newcustomer.NewCustomer_01_ValidateAllFields@178f375]">TC_02_Name_cannot_be_numeric</td> 
  <td>main@12489389</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/18 20:45:46</td>   <td>40262</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewCustomer_01_ValidateAllFields.afterClass()[pri:0, instance:com.guru99.newcustomer.NewCustomer_01_ValidateAllFields@178f375]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12489389</td>   <td></td> </tr>
</table>
